@import url('https://fonts.googlepis.com/css2?family=Poppins:wght@300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(/index/image/Outer.jpg);
}
.box
{
    position: relative;
    width: 380px;
    height: 600px;    
    background: #1c1c1c;
    border-radius: 8px ;
    overflow: hidden;
}
.box::before
{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 600px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after
{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 600px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.form
{
    position: absolute;
    border-radius: 8px;
    inset: 2px;
    background: #28292d;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}
.form h2
{
    color: #45f3ff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.signup-box
{
    position: relative;
    width: 300px;
    margin-top: 25px;
}
.signup-box input
{
    position: relative;
    width: 100%;
    padding: 25px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}
.signup-box label
{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.signup-box input:valid ~ label,
.signup-box input:focus ~ label
{
    color: #45f3ff;
    transform: translateX(0px) translateY(-30px);
    font-size: 0.75em;
}
.signup-box i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff; 
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.signup-box input:valid ~ i,
.signup-box input:focus ~ i
{
    height: 44px;
}
.links
{
    display: flex;
    justify-content: space-between;
}
.links a
{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.links a:hover,
.links a:nth-child(2)
{
    color: #45f3ff;
}
input[type="button"]
{
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600; 
    cursor: pointer;
}
input[type="button"]:active
{
    opacity: 0.8;
}

@media screen and (max-width: 760px) {
    body{
      background-image: url(/index/image/outer2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  
  @media screen and (max-width: 480px) {
    body{
      background-image: url(/index/image/outer3.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }