/* App Container */
.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container {
  padding-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

/* Add Note Button */
.add-box {
  background-color: #ffc107;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 12px;
}

/* Popup Box */
.popup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 50%;
  padding: 20px;
  margin-left: 5%;
  margin-right: 30%;
  border-radius: 8px;
  z-index: 10;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: none;
}

.popup-box.show {
  display: block;
}

.popup-box header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.popup-box header p {
  font-weight: 600;
  font-size: 20px;
  color: #000;
  margin: 0;
}

.popup-box header i {
  font-size: 24px;
  color: #000;
  cursor: pointer;
}

.popup-box form {
  display: flex;
  flex-direction: column;
}

.popup-box form label {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
}

.popup-box form input[type="text"],
.popup-box form textarea {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-bottom: 20px;
  resize: none;
}

.popup-box form textarea {
  height: 120px;
}

.popup-box form button {
  background-color: #ffc107;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
}

/* Notes List */
#notes-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#notes-list li {
  background-color: #f7f7f7;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}

#notes-list li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  
}

#notes-list li .note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#notes-list li .note-title {
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

#notes-list li .note-date {
  padding: 5%;
  font-size: 14px;
  color: #666;
}

#notes-list li .note-actions {
  display: flex;
  align-items: center;
}

#notes-list li .edit-note-btn{
  background-color: #48de1a;
  color: #fff;
}

#notes-list li .delete-note-btn {
  background-color: #ff3907;
  color: #fff;
}
body {
  background-image: url("a.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

.button-container {
  margin-top: 20px;
}

.button-container button {
  margin-right: 10px;
}

#add-anime-form{
  align-items: center;
  padding-left: 25%;
}


@media screen and (max-width: 768px) {
  /* Styles for screens smaller than 768px */
  .app-container {
    max-width: 100%;
    padding: 10px;
  }

  .popup-box {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  /* Styles for screens smaller than 480px */
  .add-box {
    font-size: 14px;
    padding: 8px 16px;
  }

  .popup-box {
    width: 95%;
  }

  .popup-box header p {
    font-size: 18px;
  }

  .popup-box form label {
    font-size: 16px;
  }

  .popup-box form input[type="text"],
  .popup-box form textarea {
    font-size: 14px;
    padding: 8px;
  }

  .popup-box form textarea {
    height: 80px;
  }

  .popup-box form button {
    padding: 8px 16px;
  }

  #notes-list li .note-title {
    font-size: 16px;
  }

  #notes-list li .note-date {
    font-size: 12px;
  }
}

.container{
	background-color: url(/index/image/kawaii.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}